%card-box {
  display: flex;
  padding: 20px;
  text-align: center;
  justify-content: center;
}

.card-grid {
  justify-content: center;
  padding: 20rem 5rem 10rem 5rem;
  .card-item {
    display: grid;
    grid-template-columns: 1fr 2fr; // Dos columnas: 1/3 para card-detail, 2/3 para card-info
    gap: 20px; // Espacio entre las columnas
    align-items: center; // Centrar verticalmente
  }

  .card-detail {
    grid-column: 1 / 2; // Se asegura que esté en la primera columna
    @extend %card-box;
    img {
      width: 200px;
    }
  }

  .card-info {
    grid-column: 2 / 3; // Se asegura que esté en la segunda columna
    @extend %card-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start; // Alinea el contenido a la izquierda

    h2,
    h3,
    p {
      color: #010b13;
    }

    h2 {
      font-size: 3rem;
      font-weight: 700;
      padding-bottom: 1rem;
    }

    h3 {
      padding-top: 1rem;
      font-size: 2rem;
      font-weight: 800;
    }

    p {
      padding: 1rem 0;
      font-size: 1.3rem;
    }
  }
}

.stock-count {
  font-weight: 700;
  span {
    font-weight: 800;
    font-size: 1.5rem;
  }
}
