.toolbar-icon {
  position: relative;
  .toolbar-count {
    position: absolute;
    background-color: red;
    color: #ffffff;
    top: -0.5rem;
    right: -0.89rem;
    height: 1.8rem;
    width: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
}

$breakpoint-md: 768px;
@media (max-width: $breakpoint-md) {
  .nav-sm-background {
    background: white;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 99;
    transform: translateX(100%);
    &.active {
      transform: translateX(10%);
    }
  }
  .black-veil {
    position: absolute;
    &.active {
      min-height: 100vh;
      width: 100vw;
      background: rgba(0, 0, 0, 0.235);
      top: 0;
      left: 0;
    }
  }
}
.logo-nv {
  width: 80%;
}

.nav-txt {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 700;
  padding: 0 1rem;
}
